.card-back img {
    width: 50px;
}

.cardsSelect {
    display: flex;
    flex-direction: column; /* Positionne les éléments en colonne */
    justify-content: center;
    align-items: center; /* Centre les éléments horizontalement */

    p {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.cardsNumber {
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    padding: 1rem;
    margin-bottom: 1rem;
    width: fit-content;

    button {
        margin: 0 1rem;
        background-color: #a7a7a7;
        border-radius: 0.2rem;
        border: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
    }
}
.cardsNumber button:hover {
    background-color: #7e9fca;
}

.header {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.card-back {
    background-color: royalblue;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#card-container {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: gray;
    display: grid;
    margin: 1rem;
    width: 50rem;
    place-items: center;
    border-radius: 0.3rem;
    box-shadow: #313131 0px 0px 10px 0px;
    padding: 1rem;
}

.card {
    background-color: white;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
    width: 60px;
    height: 70px;
}

.hug{
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreboard {
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: pink;
}